@model Hakkimda

<img class="mx-auto d-block w-75 bg-primary img-fluid rounded-circle mb-4 p-3" src="@Model.ResimUrl" alt="Image">
<h1 class="font-weight-bold">@Model.AdSoyad</h1>
<p class="mb-4">
	@Model.KisaAciklama
</p>